<!doctype html>
<h1>{{ table_name }} Table</h1>
<table border = 1>
   <tr>
      <th>  </th>
      {% for col_name in col_names %}
         <th> {{ col_name }} </th>
      {% endfor %}
   </tr>
   {% for row in data %}
      <tr>
         {% for single_data in row %}
            <td> {{ single_data }} </td>
         {% endfor %}
      </tr>
   {% endfor %}
</table>

<h2>{{ operation_name }}</h2>
<form action="http://127.0.0.1:5000/success" method="POST">
    Table name: <input type="text" name="table_name" value={{ table_name }}> <br><br>
    Operation name: <input type="text" name="operation_name" value=update> <br><br>
    <p>Update row number: <input type="text" name="row" /></p><br>
    {% for col_name in col_names %}
    <p>{{ col_name }}: <input type="text" name={{col_name}} /></p>
    {% endfor %}
    <br><br>
    <p><input type="submit" value="Update" /></p>
</form>