<h1>Please choose table!</h1>

<form action="http://127.0.0.1:5000/table" method="POST">
    {% for item in table_names %}
        <input type="radio" name="table_name" value={{item}}>{{ item }}<br>
    {% endfor %}
    <p><input type = "submit" value = "submit" /></p>
</form>

<br><br>

<h4>To evaluate the insurance price, please complete the survey before adding data into the <font style="color:#FF0000";>contract</font> table.</h4>
<form action="http://127.0.0.1:5000/survey" method="GET">
    <p><input type = "submit" value = "Survey" /></p>
</form>