<h1>Survey</h1>

<form action="http://127.0.0.1:5000/survey/1" method="POST">
    Age: <br>
    <input type="text" id="Age" name="Age"><br>
    Diabetes (0 No, 1 Yes): <br>
    <input type="text" id="Diabetes" name="Diabetes"><br>
    Blood Pressure Problems (0 No, 1 Yes): <br>
    <input type="text" id="BloodPressureProblems" name="BloodPressureProblems"><br>
    Any Transplants (0 No, 1 Yes): <br>
    <input type="text" id="AnyTransplants" name="AnyTransplants"><br>
    Any Chronic Diseases (0 No, 1 Yes): <br>
    <input type="text" id="AnyChronicDiseases" name="AnyChronicDiseases"><br>
    Height: <br>
    <input type="text" id="Height" name="Height"><br>
    Weight: <br>
    <input type="text" id="Weight" name="Weight"><br>
    Known Allergies: (0 No, 1 Yes) <br>
    <input type="text" id="KnownAllergies" name="KnownAllergies"><br>
    History Of Cancer In Family (0 No, 1 Yes): <br>
    <input type="text" id="HistoryOfCancerInFamily" name="HistoryOfCancerInFamily"><br>
    Number Of Major Surgeries: <br>
    <input type="text" id="NumberOfMajorSurgeries" name="NumberOfMajorSurgeries"><br>
    <p><input type = "submit" value = "submit" /></p>
</form>

<h2>Back to tables</h2>
<form action="http://127.0.0.1:5000/operation" method="GET">
   <p><input type="submit" value="Back" /></p>
</form>